body {
    display: flex;
}


header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    border: solid red;
    height: 5vh;
    width: 15vw;



    p {
        border: solid black;
        font-size: 1rem;
        height: 198vh;
        width: 10vw;

    }
}

.mainReembolsos {

    width: 95vw;
    height: 200vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10rem;
    border: solid rgb(77, 23, 32);


    h1 {
        border: solid lawngreen;
        font-size: 2rem;
        font-weight: 700;

    }

}

.containerCards {
    border: solid yellow;
    display: flex;
    justify-content: space-between;
    width: 70%;


}


.card {
    width: 15vw;
    height: 20vh; // Aqui eu controlo a altura 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    //padding: 18px;
    //border: solid blueviolet;
    border: solid #CBD4E1;

}

.card:hover {
    border: solid chocolate;
    background-color: #f1f4f9;
    border: solid;
    cursor: pointer;
}

.containerDados {
    border: #007a6a;
    background-color: #FFFFFF;
    width: 70%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 6px;
    margin-top: 1rem;
    border: 0.8px solid #CBD4E1; // Aqui eu mexo com as bordas das opções acima do sistema atualizado 



    // Mexe com as bordas dos botões abaixo 
    div {
        border: #e56700;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 20%;
        height: 5vh;
        border-radius: 6px;
        padding: 18px;
        bottom: 2rem;
    }

}

//colocar os card da imagens do botão

.imgSolicitados {
    background-color: #00bedd;
    padding: 6px;
    border-radius: 6px;
}

.imgAnalise {
    background-color: #e56700;
    padding: 6px;
    border-radius: 6px;

}

.imgAprovados {

    background-color: #007a6a;
    padding: 6px;
    border-radius: 6px;
}

.imgRejeitados {

    color: #a60b2f;
    padding: 6px;
    border-radius: 6px;
}


//criar containes para mensagem de sistemas atualizados
.containerSistema {
    width: 15%;
    height: 12vh;
    display: flex;
    //background-color: aqua;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}